@import "https://fonts.googleapis.com/css?family=Sriracha&display=swap";
@import "https://fonts.googleapis.com/css?family=Slabo+27px|Source+Sans+Pro&display=swap";

* {
  box-sizing: border-box;
}

body {
  background-color: #fff;
  font-family: nyt-imperial, georgia, "times new roman", times, serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 1rem;
}

a {
  text-decoration: none;
  color: inherit;
}

p a {
  text-decoration: underline;
}

a:hover {
  text-decoration: underline;
}

hr {
  border-color: #000;
}

/* Utility classes */
.invisible-divider {
  border: 0;
  outline: 0;
  margin: 0.5rem;
}

.mb-small {
  margin-bottom: 0.25rem;
}

.caption {
  font-size: 15px;
  color: #666;
  text-align: left;
}

li.divider {
  border-bottom: 1px solid #e2e2e2;
  margin: 0.5rem 0;
}

/* nav-sectiion styling */
nav#header-nav {
  display: flex;
  position: fixed;
  justify-content: space-between;
  width: 100%;
  background-color: white;
  border-bottom: 1px solid #f1eeee;
  z-index: 3;
  top: -10px;
}

.left-items {
  display: flex;
  align-items: center;
}

.left-items ul {
  list-style: none;
  display: flex;
}

.left-items li {
  margin: 8px 15px;
  display: inline-flex;
  align-items: center;
}

.left-items ul li strong {
  font-family: nyt-franklin, helvetica, arial, sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 19px;
}

.center-item {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.center-item img {
  width: 232px;
}

.right-items {
  justify-content: center;
  float: right;
  padding: 13px 20px 12px;
}

a.btn {
  text-decoration: none;
}

.btn {
  font-family: sans-serif;
  cursor: pointer;
}

.btn-primary {
  padding: 8px;
  margin: 4px;
  color: #fff;
  background: #326891;
  border: 1px solid #326891;
  border-radius: 4px;
  font-family: nyt-franklin, helvetica, arial, sans-serif;
  font-size: 11px;
  font-weight: 700;
  text-transform: uppercase;
}

/* Main content */
main {
  margin-top: 7rem;
}

main section:first-of-type {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 800px;
  margin: auto;
}

main section h1 {
  color: #121212;
  font-size: 1.7rem;
  font-style: italic;
  max-width: 600px;
  margin-top: 0;
}

main section figcaption {
  color: #666;
  font-size: 15px;
  font-family: nyt-imperial, georgia, "times new roman", times, serif;
}

main section figcaption span {
  color: #888;
}

.footer-header a {
  font-size: 11px;
  text-align: center;
}

.blog-article .author a {
  color: inherit;
}

.footer-links-section li a {
  color: #333;
  align-items: center;
  text-decoration: none;
  font-family: sans-serif;
  font-size: 14px;
  line-height: 21px;
  margin: 15px 0;
}

.second-child ul li a {
  font-size: 11px;
}

/* Grid */
.grid-item p {
  font-size: 14px;
  font-family: sans-serif;
  font-weight: 300;
}

.grid-item p span {
  text-transform: uppercase;
  font-weight: bold;
}

.rec-header {
  font-family: nyt-franklin, helvetica, arial, sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
}

.rec-header a:not(:hover) {
  text-decoration: none;
}

.blog-article .author a:hover {
  text-decoration: none;
}

#editors-choice ul li a {
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
}

#most-popular ul li a {
  text-decoration: none;
  color: #121212;
  font-size: 19px;
  line-height: 1.2rem;
}

#main-footer .footer-header a {
  text-decoration: none;
  color: #567b95;
  font-size: 11px;
  font-family: sans-serif;
}

#main-footer nav:last-of-type a {
  font-size: 11px;
  font-family: sans-serif;
  color: #666;
  text-decoration: none;
}

#main-footer nav:last-of-type a:not(:first-child) {
  margin: 0 5px;
}

.footer-links-section li a:hover,
#main-footer nav:last-of-type a:hover {
  text-decoration: underline;
}

/* Blog articles */
.blog-article {
  max-width: 600px;
  margin: 2rem auto;
}

.blog-article .author {
  font-family: helvetica, arial, sans-serif;
  font-size: 15px;
  color: #333;
  font-weight: 700;
}

.blog-article .blog-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.date-posted {
  margin: 0;
  font-size: 13px;
  font-weight: 300;
  color: #656565;
}

.reactions {
  list-style-type: none;
  display: inline-flex;
  align-items: center;
}

.reaction-item {
  display: inline-flex;
  margin-right: 0.25rem;
  cursor: pointer;
}

.reaction-item.share-btn {
  border-radius: 50%;
  padding: 0.5rem;
  background-color: #e2e2e2;
}

.blog-article .article-content p {
  line-height: 1.5;
  font-size: 20px;
  width: 100%;
  float: left;
  justify-content: space-around;
  margin-top: 20px;
  margin-bottom: 0;
}

.blog-article.thanks {
  display: block;
  bottom: 50px;
  top: 50px;
  position: relative;
}

.thanks ul {
  list-style: none;
}

.thanks li {
  list-style: none;
  margin: 10px;
  text-align: center;
  font-weight: bold;
  font-size: 15px;
}

hr.short-line {
  font-size: 10px;
  line-height: 13px;
  text-align: center;
  width: 80px;
  left: 200px;
}

.grid-item img {
  height: 130px;
  width: 100%;
}

.fig {
  margin-top: 1rem;
}

.fig img {
  width: 800px;
  margin-top: 40px;
  text-align: center;
}

.fig figcaption {
  width: 600px;
}

/* Editor's choice */
#editors-choice {
  float: right;
  max-width: 20%;
  position: absolute;
  width: 200px;
  right: 0;
  z-index: 0;
  border-bottom: 1px solid #afa6a6;
  margin-right: 4rem;
  border: none;
}

.footer-header img {
  width: 223px;
}

#editors-choice img {
  width: 75px;
}

#editors-choice .img-details {
  font-size: 10px;
}

#editors-choice h2 {
  font-size: 14px;
  line-height: 14px;
  font-weight: 700;
  font-family: nyt-franklin, helvetica, arial, sans-serif;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid #e2e2e2;
}

.footer-links-section ul {
  list-style: none;
  padding: 0;
}

#editors-choice ul {
  position: relative;
  width: 100%;
  padding: 0;
}

#editors-choice ul li {
  display: flex;
  align-items: center;
  position: relative;
  margin: 0 0 0.6rem 0;
  text-align: left;
}

#editors-choice ul li img {
  margin-right: 0.5rem;
}

.sub {
  color: #326891;
  font-weight: bold;
  font-family: georgia, "times new roman", times, serif;
  font-size: 20px;
  text-align: start;
  letter-spacing: normal;
}

#inflation-section {
  width: 900px;
  margin: auto;
  margin-top: 3rem;
}

.embeded-video iframe {
  margin-top: 40px;
  width: 100%;
  border: none;
}

#inflation-section h1 {
  margin-top: 4rem;
  margin-bottom: 0;
}

#inflation-section .desc {
  color: #666;
  font-size: 0.9rem;
}

#inflation-section p#contributors {
  font-family: sans-serif;
  font-size: 14px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 5px;
  width: 100%;
}

.article-citation {
  font-size: 13px;
  font-family: sans-serif;
  color: #666;
  margin-top: 14rem;
}

.article-more {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

/* More reads section */
#more-reads-section {
  display: grid;
  grid-gap: 1.5rem;
  grid-template-columns: 70% 30%;
  padding: 0 10%;
}

#space-and-astronomy,
#most-popular,
#editors-pick {
  border-top: 2px solid #3b3b3b;
  padding-top: 1rem;
}

#space-and-astronomy .grid-3x2 {
  display: grid;
  grid-gap: 15px;
  grid-template-columns: repeat(3, 1fr);
}

#space-and-astronomy .grid-3x2 .grid-3x2-item figure {
  margin: 0;
}

#space-and-astronomy .grid-3x2 .grid-3x2-item figure img {
  width: 100%;
}

#space-and-astronomy .grid-3x2 .grid-3x2-item figcaption {
  color: #121212;
  font-size: 18px;
}

#most-popular ul {
  list-style: none;
  padding: 0;
}

#most-popular ul li {
  border-top: 1px solid rgb(179, 179, 179);
  padding: 1rem 0;
}

#most-popular ul li a:hover {
  opacity: 0.6;
}

.photo-credit {
  display: flex;
  justify-content: flex-end;
  font-size: 12px;
  color: rgb(164, 164, 164);
}

#editors-pick {
  margin-top: 2rem;
}

#main-footer .footer-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  margin-bottom: 1rem;
}

#main-footer .footer-header::after {
  position: absolute;
  top: -1rem;
  content: '';
  height: 2px;
  background-color: #e2e2e2;
  width: 100%;
}

.footer-header-link {
  display: flex;
  float: right;
  font-size: 10px;
}

#main-footer {
  padding: 10px 10%;
  margin-top: 2rem;
}

#main-footer .footer-header::before {
  position: absolute;
  top: -0.85rem;
  content: '';
  height: 1px;
  background-color: #e2e2e2;
  width: 100%;
}

#main-footer nav:last-of-type {
  text-align: center;
  border-top: 1px solid #eee;
  margin-top: 0.5rem;
  padding-top: 0.5rem;
}

.footer-links-section {
  display: grid;
  grid-template-columns: 80% 20%;
  grid-gap: 20px;
}

.first-child {
  display: inline-flex;
  justify-content: space-between;
}

.second-child {
  border-left: 1px solid #e2e2e2;
  padding-left: 15px;
}

.bold-link {
  font-weight: bold !important;
  font-size: 16px !important;
  font-family: nyt-franklin, helvetica, arial, sans-serif;
  color: #000;
}

.bold-link i {
  margin-right: 0.5rem;
}